.button{
  background-image: linear-gradient(to bottom, #1f1317 0%, #330c1b 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 35px;
    cursor: pointer;
}
.text-brand{
  color: #7AB259;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}